python-dotenv
langchain-groq
langchain-openai
langchain-community
mcp
langchain-mcp-adapters
langchain
langgraph
ipykernel
openai-agents
google-api-python-client>=2.0.0
oauth2client>=4.1.3
google-auth>=2.0.0
google-auth-oauthlib>=1.2.1
mcp>=1.6.0
asyncio
streamlit>=1.28.0
nest-asyncio